.principal{

        width: 35%;
        height: 50%;
        border: 1px black solid;
        margin-top: 20%;
        margin-bottom: 20%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}


