body{

        background-image: url(fundo.jpeg);
       


}


.principal{

        width: 35%;
        height: 50%;
        border: 1px black solid;
        border-radius: 3%;
        margin-top: 10%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: rgb(208, 208, 212);
        padding: 5%;
}

label{
        font-size: 2.0rem;
       
}
span{
        font-size: 2.0rem;
        color: red;
}
input{
font-size: 30px;
max-width:90% ;
padding: 4px;

}
button{

        font-size: 100%;
        padding: 5%;
        background-color: white;

        


}


button:hover {

        background-color: gainsboro;
}